# MkDocs build output
/site/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
.venv/

# Editor/IDE files
.vscode/
.idea/

# Log and cache files
*.log
*.tmp
.cache/
*.swp

# Shell history
.bash_history
.zsh_history
.history

# macOS system files
.DS_Store
Thumbs.db
